@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
  cursor: pointer;
}

button {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background: #ffb11f;
  padding: 1.25rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  transition: all 0.25s linear;
  cursor: pointer;
  z-index: 1;
}

button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: 0% 0%;
  background: #0f1b28;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

button:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 100%;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1220px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.hidden {
  display: none !important;
}

.sticky {
  box-shadow: 0 1px 4px rgba(24, 26, 32, 0.07);
  position: fixed;
  animation: slideDown 1s both;
  z-index: 99;
  top: 0;
}

@keyframes slideDown {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translateZ(0);
  }
}

/* __header part starts here___ */
#header {
  width: 100%;
  background-color: thistle;
  font-size: 1.6rem;

  .divider {
    width: 100%;
    height: 0.1mm;
    background: #ffffff40;
  }

  .topbar {
    width: 100%;
    background: #ffb11f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 15rem;

    .icon-list {
      color: #ddd;
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .left li a span {
      margin-left: 0.5rem;
    }

    .right li {
      transition: all 0.2s linear;
    }

    .right li a {
      font-size: 1.8rem;
    }

    .right li:hover {
      transform: scale(1.5);
    }
  }

  .topbar a {
    color: #fff;
    font-weight: 500;
  }

  .navbar {
    font-size: 1.6rem;
    width: 100%;
    color: #000;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem;

    .nav-links {
      display: flex;
      align-items: center;
      column-gap: 3rem;
      transition: all 0.5s linear;

      .menu-item {
        position: relative;

        .drop-item {
          color: #000;
          font-weight: 500;
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
          padding: 2rem 0;
          transition: all .25s linear;
        }

        .drop-item span {
          font-size: 1rem;
        }

        .sub-menu {
          width: 200px;
          color: #fff;
          background: #ffb11f;
          position: absolute;
          top: 100%;
          left: -50%;
          box-shadow: 0 0 5px rgba(136, 136, 136, 0.1);
          transform-origin: 0 0;
          transform: scaleY(0);
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s linear;

          .list-item {
            display: block;
            padding: 1rem 2rem;
            transition: all 0.2s linear;
          }

          .list-item:hover {
            background: #fff;
          }

          .list-item a {
            color: #fff;
          }

          .list-item:hover a {
            color: #ffb11f;
          }
        }
      }

      .menu-item:hover .drop-item {
        color: #ffb11f;
      }

      .menu-item:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }

  .desk-bar {
    width: 100%;
  }

  .mob-bar {
    width: 100%;
    background: #fff;
    display: none;

    .menu-bar {
      font-size: 3rem;
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 2rem;
      padding: 1rem;

      .menu-item {
        position: relative;

        .drop-item {
          color: #000;
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
        }

        .drop-item span {
          font-size: 1rem;
        }

        .sub-menu {
          width: 180px;
          color: #fff;
          background: #ffb11f;
          position: absolute;
          top: 110%;
          left: -50%;
          box-shadow: 0 0 5px rgba(136, 136, 136, 0.1);
          transform-origin: 0 0;
          transform: scaleY(0);
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s linear;

          .list-item {
            display: block;
            padding: 1rem;
            transition: all 0.2s linear;
          }

          .list-item:hover {
            background: #fff;
          }

          .list-item a {
            color: #fff;
          }

          .list-item:hover a {
            color: #ffb11f;
          }
        }
      }

      .menu-item:hover .drop-item {
        color: #ffb11f;
      }

      .menu-item:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
      }
    }

    .mobile-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      column-gap: 0rem;
      row-gap: 0.5rem;
      padding: 1rem 3rem;

      .menu-item {
        width: 100%;

        .drop-item {
          font-size: 1.6rem;
          color: #000;
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 0.75rem;
        }

        .drop-item span {
          font-size: 1.2rem;
        }

        .sub-menu {
          width: 100%;
          color: #000;
          background: #fff;
          transition: all 0.2s linear;

          .list-item {
            display: block;
            padding: .75rem;
            transition: all 0.2s linear;
          }

          .list-item a {
            font-size: 1.3rem;
          }

          .list-item:hover a {
            color: #ffb11f;
          }
        }
      }

      .btn-list button {
        font-size: 1.5rem;
        padding: 1rem 2rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  #header {
    .topbar {
      padding: 1rem 7rem;
    }

    .navbar {
      padding: 1rem 7rem;
    }
  }
}

@media (max-width: 992px) {
  #header {
    .divider {
      background: #f0f0f0 !important;
    }

    .topbar {
      display: none;
    }

    .desk-bar {
      display: none;
    }

    .mob-bar {
      display: block;

      .navbar {
        padding: 1rem 5rem;
      }

      .mobile-list {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    .mob-bar {
      .navbar {
        padding: 1rem 3rem;
      }

      .tablet-list {
        display: none;
      }

      .mobile-list {
        display: flex;

        .btn-list {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #header {
    .mob-bar {
      .navbar {
        padding: 1rem;
      }

      .mobile-list {
        padding: 2rem;
      }
    }
  }
}

/* __hero part starts here___ */
#hero {
  color: #181818;
  background-image: url("./image/hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .container {
    width: 100%;
    padding: 15rem 5rem;

    .hero-content {
      width: 75%;
      font-weight: 700;

      .sub-title {
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
      }

      .title {
        font-size: 7rem;
        line-height: 1.2;
        margin-bottom: 2rem;
      }

      .desc {
        color: #716c80;
        font-size: 1.75rem;
        font-weight: 400;
        margin-bottom: 2.5rem;
      }

      .hero-btn {
        color: #fff;
        background-color: #ffb11f;
        font-weight: 700;
        border: none;
        border-radius: 0.3rem;
        outline: none;
        padding: 1.5rem 3.25rem;
        transition: all 0.3s linear;
      }

      .hero-btn:hover {
        color: #fff;
        background-color: #181818;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 992px) {
  #hero {
    .container {
      padding: 10rem 1rem;

      .hero-content {
        width: 90%;

        .sub-title {
          font-size: 3rem;
        }

        .title {
          font-size: 4rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #hero {
    .container {
      padding: 7rem 1rem;

      .hero-content {
        width: 100%;

        .sub-title {
          font-size: 2rem;
        }

        .title {
          font-size: 2.75rem;
          margin-bottom: 1rem;
        }

        .desc {
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #hero {
    .container {
      .hero-content {
        .sub-title {
          font-size: 1.5rem;
        }

        .title {
          font-size: 1.75rem;
        }

        .desc {
          font-size: 1.25rem;
        }
      }
    }
  }
}


/* ____card-section starts here___ */

#cards {
  padding-bottom: 6.2rem;

  .container {
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      top: -50px;

      .card-box {
        flex-basis: 48%;
        background-color: brown;
        padding: 2.5em 1.25em;
        display: flex;
        align-items: center;
        margin: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
        transition: all 0.3s linear;

        .card-content {
          max-width: 65%;
          padding-left: 1.2rem;

          .sub-title {
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 0.6rem;
            line-height: 1.2;
          }

          .title {
            font-size: 2.25rem;
            font-weight: 400;
            margin-bottom: 0.5rem;
            cursor: pointer;
            margin-top: -5px;
          }

          .desc {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
          }

          .card-btn {
            font-size: 1rem;
            font-weight: 700;
            padding: 0.75rem 1.5rem;
            border-radius: 0.3rem;
            background: #fff;
            color: #ffb11f;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.28);
            position: relative;
          }
        }
      }

      .card-box:hover {
        transform: translateY(-5px);
      }

      .card-box img {
        max-width: 35%;
        height: auto;
      }

      .card-1 {
        background: #ffb11f;
      }

      .card-2 {
        background: #f54830;
      }

      .card-3 {
        background: #83ba43;
      }

      .card-4 {
        background: #852d6d;
      }
    }
  }
}

.cards .container .row {
  display: flex;

  flex-wrap: wrap;
  position: relative;
  top: -50px;
}

.card-box {
  flex-basis: 48%;
  background-color: brown;
  padding: 2.5em 1.25em;
  display: flex;
  align-items: center;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
  transition: 0.5s;
}

.card-box:hover {
  transform: translateY(-5px);
}

.card-1 {
  background: #ffb11f;
}

.card-2 {
  background: #f54830;
}

.card-3 {
  background: #83ba43;
}

.card-4 {
  background: #852d6d;
}

.card-content {
  max-width: 65%;
  padding-left: 1.2em;
}

.card-box img {
  max-width: 35%;
  height: auto;
}

.card-box h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  cursor: pointer;
  margin-top: -5px;
}

.card-box h2 {
  font-size: 2.25rem;
  margin-bottom: 0.625em;
  line-height: 1.2;
}

.card-box p {
  margin-bottom: 1.25em;
}

.card-btn {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 25px;
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.28);
  color: #ffb11f;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 992px) {
  #cards {
    .container {
      .row {
        flex-direction: column;

        .card-box {
          flex-direction: column;
          justify-content: center;

          .card-content {
            margin-top: 1rem;
            max-width: 100%;
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #cards {
    .container {
      .row {
        .card-box {
          .card-content {
            .title {
              font-size: 2rem;
            }

            .desc {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
/* __card-section ends here__ */

/* ___delivery-box starts here___ */

.delivery-box {
  color: black;
  background-color: rgb(209, 247, 234);
  position: relative;
}
.delivery-box .container {
  max-width: 1140px;
  padding: 0 15px;
}
.carrots > img {
  position: absolute;
  z-index: -1;
}
.carrot-1 {
  top: 0;
  left: 70px;
}

.delivery-box .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delivery-ways {
  display: flex;
  margin-bottom: 40px;
}
.equal-width {
  flex: 1;
  padding: 0 15px;
}
.smile-face {
  margin-left: -150px;
  margin-top: -70px;
}
.delivery-content {
  line-height: 1.6;
  margin-left: 25px;
}
.delivery-content a {
  display: block;
  transition: all 0.3s;
}
.delivery-content a:hover h3 {
  color: #ffb11f;
}
.delivery-content a h3 {
  font-size: 23px;
  margin-bottom: 10px;
  margin-top: -5px;
}
.delivery-content > p {
  font-size: 18px;
  color: rgb(113, 108, 128);
  max-width: 400px;
}
.inner-logo {
  display: flex;
  align-items: flex-start;

  margin-top: 5px;
}
.inner-logo > img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  box-shadow: 0 0 6px rgba(8, 136, 136, 0.1);
}
@media (max-width: 992px) {
  .delivery-box .row {
    flex-direction: column;
  }
  .smile-face {
    margin-left: 0;
    margin-bottom: 24px;
  }
  .currency-content {
    width: 80%;
  }
  .smile-face > img {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .equal-width {
    width: 80%;
  }
  .smile-face > img {
    width: 100%;
  }
  .delivery-content a h3 {
    font-size: 20px;
  }
  .delivery-content > p {
    font-size: 16px;
  }
}
/* __delivery box ends here */

/* * ___countdown section starts here___ */

.countdown-section {
  padding: 100px 0;
  background-color: #ffb11f;
}
.countdown-section .container {
  max-width: 1200px;
}
.equal-flex {
  flex: 0 0 auto;
  width: 50%;
}
.countdown-img {
  position: relative;
  padding: 0 12px;
}
.countdown-img::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  border: 10px solid #fff;
  top: 0;
  left: 5%;
}
.top-corner span {
  font-size: 24px;
  display: inline-block;
}

.top-corner {
  position: absolute;
  left: 0;
  top: -35px;
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 80px;
  margin-bottom: 0;
  z-index: 2;
  color: #ffb11f;
  text-align: center;
}

.countdown-img > img {
  max-width: 100%;
}
.countdown-section .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown-content h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
.countdown-content p {
  margin-bottom: 1rem;
  line-height: 24px;
}
.deadline-time {
  display: flex;
  margin-top: 1.85rem;
}
.seconds {
  width: 95px;
  height: 95px;
  text-align: center;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 4px;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.seconds h2 {
  color: #ffb11f;
  font-size: 2.2rem;
  line-height: 45px;
}
.seconds p {
  font-weight: 700;
  text-transform: uppercase;
}
.countdown-time button {
  background-color: #fff;
  padding: 12px 50px;
  color: #ffb11f;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .countdown-section .container .row {
    flex-direction: column;
  }
  .countdown-time {
    margin-top: 30px;
    padding-left: 20px;
  }
  .countdown-img {
    text-align: center;
  }
  .equal-flex {
    flex: 0 0 auto;
    width: 75%;
  }
}
@media (max-width: 450px) {
  .equal-flex {
    width: 100%;
    
  }
  .countdown-time {
    padding: 0;
  }
  .seconds {
    width: 60px;
    height: 60px;
  }
  .countdown-content h1 {
    font-size: 20px;
  }
  .countdown-content p {
    font-size: 11px;
  }

  .seconds h2 {
    font-size: 20px;
  }
  .seconds p {
    font-size: 11px;
  }
}
.countdown-section .row button {
  font-size: 14px;
}

/* ___count-down ends here__ */

#footer {
  padding-top: 100px;
  background-color: #0f1b28;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row .box {
  flex: 1;
  margin-bottom: 40px;
  padding: 0 12px;
}

.row .box > img {
  margin-bottom: 20px;
}

.row .paragraph p {
  margin-bottom: 15px;
}

.box > h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.box .address-list > li {
  display: flex;
  padding: 10px 0;
}

.box .address-list > li i {
  font-size: 20px;
  color: #ffb11f;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-specific {
  margin-left: 10px;
}

.fruitful {
  display: flex;
}

.veg-content {
  margin-left: 10px;
}

.veg-content h3 {
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.veg-content h3:hover {
  color: #ffb11f;
}

.veg-content h5 {
  font-size: 16px;
  cursor: default;
}

.last-images {
  display: flex;
  flex-wrap: wrap;
}

.last-images > li {
  padding: 2px;
  width: calc(100% / 3);
}

.last-images > li > a {
  display: block;
  width: 100%;
}

.last-images > li > img {
  width: 100%;
  height: 100%;
}

.bottom-paragraph {
  color: #fff;
  padding: 30px 0;
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border-top: 1px solid #f8fafb1f;
}

.bottom-paragraph a {
  color: #fff;
  transition: all 0.2s linear;
}

.bottom-paragraph a:hover {
  color: #ffb11f;
}

@media (max-width: 1200px) {
  #footer .container .row .box {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  #footer .container .row {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .bottom-paragraph {
    font-size: 0.75rem;
  }
}
